<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <!-- 引入 Bootstrap -->
    <!--  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <style>a{text-decoration: none}</style>
    <script language="JavaScript">
        function del() {
            if (confirm("确认是否删除！")){
                return true;
            }else {
                return false;
            }
        }
    </script>
</head>

  <body>
  <!--
  <tr style="text-align:center">
      <th>编码</th>
      <th>名称</th>
      <th>内容</th>
  </tr>
  <div th:each="lists: ${list}">
      <div th:text="${lists.id}">Oranges</div>
      <div th:text="${lists.name}">Oranges</div>
      <div th:text="${lists.content}">Oranges</div>

       <td th:text="${lists.id}"></td>
          <td th:text="${lists.name}"></td>
          <td th:text="${lists.content}"></td>
          <a th:href="">详情</a>
  </div>-->

  <table class="table table-striped table-bordered table-hover text-center">
      <thead>
      <tr style="text-align:center">
          <th>编码</th>
          <th>名称</th>
          <!-- <th>内容</th>2020.12.28内容列去掉-->
           <th>操作</th>
       </tr>
       </thead>

       <tr th:each="lists: ${list}">
           <td th:text="${lists.id}"></td>
          <td><a  th:href="@{'/note/details/'+${lists.id}}" th:value="${lists.name}" th:text="${lists.name}" style="text-decoration: none" ></a></td>
         <!--  <td th:text="${lists.content}"></td>   2020.12.28内容列去掉-->
          <td>
              <a th:href="@{'/note/updatePage/'+${lists.id}}">修改</a>
              <a th:href="@{'/note/delete/'+${lists.id}}" th:onclick="|return confirm('确认要删除吗')|">删除</a>

              <!--/*
              删除方式1：无弹窗提示
              <a th:href="@{'/note/delete/'+${lists.id}}">删除</a>
              删除方式2：使用JavaScript方式删除，有弹窗提示
               <a th:href="@{'/note/delete/'+${lists.id}}" th:onclick="|javascript:return del()|">删除</a>
              */-->


              <!--<a th:href="@{'/note/details/'+${lists.id}}">详情</a>   2020.12.28详情列去掉-->
          </td>
      </tr>
  </table>
  <!--   <首页方式1 我页码不等于1时候【首页】 不禁用； 我页码等于1的时候【首页】 禁用>   （pageNumber!=1）为true则按钮可用。结果为false为不可用-->
  <a style="text-decoration: none" th:href="@{'/note/noteList?pageNumber='+1+'&pageSize='+10}" th:onclick="|return ${pageNumber!=1}|" th:style="${pageNumber!=1}?|color: black|:|color: Gray|">首页</a>
  <!--上一页：pageNumber>1 为true时，上一页可用。反之则不可用-->
  <a th:href="@{'/note/noteList?pageNumber='+${pageNumber-1}+'&pageSize='+10}" th:onclick="|return ${pageNumber!=1}|" th:style="${pageNumber!=1}?|color: black|:|color: Gray|">上一页</a>

  <!--上一页：pageNumber 不等于当前页码时 为true时，其他页码可用。pageNumber==当前页码，则当前页码不允许点击。-->
  <a th:each="i:${#numbers.sequence(1,totalPage)}" th:href="@{'/note/noteList?pageNumber='+${i}+'&pageSize='+10}" th:onclick="|return ${pageNumber!=i}|" th:style="${pageNumber!=i}?|color: black|:|color: red|">[[${i}]]</a>


  <!-- pageNumber：<span th:text="${pageNumber}"></span>显示当前页码-->

  <!--下一页：pageNumber<总页数 为true时，下一页可用。反之则不可用    下一页和尾页在controller里面有做限制，所以，这里使用一样的判断-->
  <a th:href="@{'/note/noteList?pageNumber='+${pageNumber+1}+'&pageSize='+10}" th:onclick="|return ${pageNumber!=totalPage}|" th:style="${pageNumber!=totalPage}?|color: black|:|color: Gray|">下一页</a>
  <!--上一页：pageNumber 不等于【总页数】 为true时，尾页可用。反之则不可用-->
  <a th:href="@{'/note/noteList?pageNumber='+${totalPage}+'&pageSize='}"+10 th:onclick="|return ${pageNumber!=totalPage}|" th:style="${pageNumber!=totalPage}?|color: black|:|color: Gray|">尾页</a>

  <button><a href="/note/addIndx">新增</a></button>
  </body>
  </html>